#!/bin/bash
#SBATCH --job-name=plot_umaps
#SBATCH --time=02:00:00
#SBATCH --cpus-per-task=4
#SBATCH --mem=24G
#SBATCH --nodes=1
#SBATCH --output=/nfs/turbo/umms-parent/mgeo_neuron_scrnaseq_projectfolder/logs/03_plot_umaps_%j.log
#SBATCH --error=/nfs/turbo/umms-parent/mgeo_neuron_scrnaseq_projectfolder/logs/03_plot_umaps_%j.log
#SBATCH --partition=standard
#SBATCH --account=parent0
## #SBATCH --mail-type=FAIL
## #SBATCH --mail-user=you@umich.edu

module load Bioinformatics
module load r-seurat/4.1.1-R-4.2.0-5z5hgo7

REPO_ROOT="/home/elcrespo/Desktop/githubprojects/mge_organoid_pipeline"
PROJECT_ROOT="/nfs/turbo/umms-parent/mgeo_neuron_scrnaseq_projectfolder"

set -euo pipefail
mkdir -p "${PROJECT_ROOT}/logs"

export PROJECT_ROOT
Rscript "${REPO_ROOT}/scripts/03_plot_umaps.R"
